# KeenPoint环境配置

# Dify API
DIFY_API_KEY="app-VWzZqV55lOhVZoQm91SGaSLO"
DIFY_API_URL=https://api.dify.ai/v1
DIFY_USER=keenpoint

# MinerU API
MINERU_TOKEN=your-mineru-token
MINERU_MODEL=vlm

# 日志
LOG_LEVEL=INFO
DEBUG=true
